<!DOCTYPE html>
<html>
<head>
	<title>thank you</title>
<link href="bootstrap.css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- Custom styles for this template -->
<link href="signin.css" rel="stylesheet">
<script src="finalCtrl.js"></script>
</head>
<body >
<div ng-app="app">
<center><h2 class="form-signin-heading" id="d1" >Thank you for the purchase..  </h2></center>
<button class="btn btn-lg btn-primary btn-block" type="button" ng-click="gotohome()">Purchase Again</button>
<button class="btn btn-lg btn-primary btn-block" type="button" ng-click="logout()">Logout</button>
</body>
</html>