<!DOCTYPE html>
<html lang="en"><head>

    <title>SeafoodsOnline</title>

    <!-- Bootstrap core CSS -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
       <!-- Custom styles for this template -->
    <link href="css/bootstrap.css" rel="stylesheet">
    
    <link href="css/signin.css" rel="stylesheet">
<script src="controller/prodCtrl.js"></script>
    
  </head>

  <body ng-app="app">
        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <center><h1>{{title}}</h1></center>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="img\111.png" alt="">
                    <div class="caption">
                        <p></p>
                        <p>
        <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="test(1)">Buy Now</button>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="img\222.png" alt="">
                    <div class="caption">
                        <p></p>
                        <p>
                            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="test(2)">Buy Now</button> 
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="img\333.png" alt="" height=50>
                    <div class="caption">
                        
                        <p></p>
                        <p>
                            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="test(3)">Buy Now</button>  </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="img\555.png" alt="">
                    <div class="caption">
                        
                        <p></p>
                        <p>
                           <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="test(4)">Buy Now</button>  
                        </p>
                    </div>
                </div>
            </div>

        </div>
{{name}}

        </form>


                <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="img\111.png" alt="">
                    <div class="caption">
                                                <p></p>
                        <p>
                            <a href="#" class="btn btn-primary" >Buy Now!</a> 
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="img\222.png" alt="">
                    <div class="caption">
                        <p></p>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> 
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="img\333.png" alt="" height=50>
                    <div class="caption">
                        <p></p>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> 
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="img\555.png" alt="">
                    <div class="caption">
                        <p></p>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> 
                        </p>
                    </div>
                </div>
            </div>

        </div>


                <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="img\111.png" alt="">
                    <div class="caption">
                        <p></p>
                        <p>
                            <a href="#" class="btn btn-primary" >Buy Now!</a> 
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="img\222.png" alt="">
                    <div class="caption">
                        <p></p>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> 
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="img\333.png" alt="" height=50>
                    <div class="caption">
                        <p></p>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> 
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="img\555.png" alt="">
                    <div class="caption">
                        <p></p>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> 
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <!-- /.row -->

        <hr>


    </div>
    <!-- /.container -->

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
