
<!DOCTYPE html>
<html lang="en"><head>

    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
       <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
    
    <script src="registerCtrl.js"></script>
   
  </head>

  <body>
<div ng-app="app" >


      <form class="form-signin">
        <h2 class="form-signin-heading">{{title}}</h2>
        <label for="name" class="sr-only">Name</label>
        <input ng-model="name11" class="form-control" placeholder="your Name" required="" autofocus="" type="text">
        <label for="pass" class="sr-only">Password</label>
        <input ng-model="pass11" class="form-control" placeholder="Password" required="" type="password">
        <label for="email" class="sr-only">Email</label>
        <input ng-model="email11" class="form-control" placeholder="Email" required="" type="email">
        <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="loadb(); register()">Register</button>
        
      </form>

    </div> <!-- /container -->



</body></html>